In [ ]:
import os
import pandas as pd

In [ ]:
# Load the autoreload extension
%load_ext autoreload

# Set autoreload to automatically reload all modules before execution
%autoreload 2
%reload_ext autoreload

In [ ]:
print(os.getcwd())
os.chdir('c:/Users/hp/Desktop/tutorial/kaim-week-3')

c:\Users\hp\Desktop\tutorial\kaim-week-3

In [ ]:
path_file = "c:/Users/hp/Desktop/tutorial/kaim-week-3/data/MachineLearningRating_v3_new.csv"

data = pd.read_csv(path_file)
data.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [ ]:
data.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'Gender', 'Country', 'Province', 'PostalCode',
       'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode', 'VehicleType',
       'RegistrationYear', 'make', 'Model', 'Cylinders', 'cubiccapacity',
       'kilowatts', 'bodytype', 'NumberOfDoors', 'VehicleIntroDate',
       'CustomValueEstimate', 'AlarmImmobiliser', 'TrackingDevice',
       'CapitalOutstanding', 'NewVehicle', 'SumInsured', 'TermFrequency',
       'CalculatedPremiumPerTerm', 'ExcessSelected', 'CoverCategory',
       'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass',
       'StatutoryRiskType', 'TotalPremium', 'TotalClaims'],
      dtype='object')

In [ ]:
print(os.getcwd())
from scripts.data_summary import col_data_summary, data_types
variability= col_data_summary(data)
variability.head(15)

c:\Users\hp\Desktop\tutorial\kaim-week-3

,Columns,data standard_deviation,data variance,data mean
0,UnderwrittenCoverID,6.329371e+04,4.006094e+09,1.048175e+05
1,PolicyID,5.290039e+03,2.798451e+07,7.956682e+03
2,PostalCode,2.649854e+03,7.021728e+06,3.020601e+03
3,mmcode,1.360005e+07,1.849614e+14,5.487770e+07
4,RegistrationYear,3.261391e+00,1.063667e+01,2.010225e+03
5,Cylinders,2.939390e-01,8.640011e-02,4.046642e+00
6,cubiccapacity,4.426784e+02,1.959642e+05,2.466743e+03
7,kilowatts,1.938790e+01,3.758908e+02,9.720792e+01
8,NumberOfDoors,4.681852e-01,2.191974e-01,4.019250e+00
9,CustomValueEstimate,2.650422e+05,7.024735e+10,2.255311e+05
10,SumInsured,1.508332e+06,2.275065e+12,6.041727e+05
11,CalculatedPremiumPerTerm,3.997017e+02,1.597615e+05,1.178757e+02
12,TotalPremium,2.302845e+02,5.303096e+04,6.190550e+01
13,TotalClaims,2.384075e+03,5.683812e+06,6.486119e+01

In [ ]:
from scripts.data_summary import data_types
data['TransactionMonth']=pd.to_datetime(data['TransactionMonth'])
categorical_var,numerical_var,date_var,bool_var=data_types(data)
print(f'categorical_var: {len(categorical_var)} columns ',categorical_var,f'\nnumerial_var: {len(numerical_var)} columns ',numerical_var
      ,f'\ndate_var: {len(date_var)} column',date_var,f'\nbool_var: {len(bool_var)} column',bool_var )

categorical_var: 30 columns  ['Citizenship', 'LegalType', 'Title', 'Language', 'Bank', 'AccountType', 'Gender', 'Country', 'Province', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'VehicleType', 'make', 'Model', 'bodytype', 'VehicleIntroDate', 'AlarmImmobiliser', 'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'TermFrequency', 'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass', 'StatutoryRiskType']
numerial_var: 14 columns  ['UnderwrittenCoverID', 'PolicyID', 'PostalCode', 'mmcode', 'RegistrationYear', 'Cylinders', 'cubiccapacity', 'kilowatts', 'NumberOfDoors', 'CustomValueEstimate', 'SumInsured', 'CalculatedPremiumPerTerm', 'TotalPremium', 'TotalClaims']
date_var: 1 column ['TransactionMonth']
bool_var: 1 column ['IsVATRegistered']

In [ ]:
missing_values=data.isnull().sum()
missing_values

UnderwrittenCoverID         0
PolicyID                    0
TransactionMonth            0
IsVATRegistered             0
Citizenship                 0
LegalType                   0
Title                       0
Language                    0
Bank                        0
AccountType                 0
Gender                      0
Country                     0
Province                    0
PostalCode                  0
MainCrestaZone              0
SubCrestaZone               0
ItemType                    0
mmcode                      0
VehicleType                 0
RegistrationYear            0
make                        0
Model                       0
Cylinders                   0
cubiccapacity               0
kilowatts                   0
bodytype                    0
NumberOfDoors               0
VehicleIntroDate            0
CustomValueEstimate         0
AlarmImmobiliser            0
TrackingDevice              0
CapitalOutstanding          0
NewVehicle                  0
SumInsured                  0
TermFrequency               0
CalculatedPremiumPerTerm    0
ExcessSelected              0
CoverCategory               0
CoverType                   0
CoverGroup                  0
Section                     0
Product                     0
StatutoryClass              0
StatutoryRiskType           0
TotalPremium                0
TotalClaims                 0
dtype: int64

In [ ]:
from scripts.data_summary import missing_values_handle
#handled_data=missing_values_handle(data)
#handled_data.isnull().sum()

drop

In [ ]:
#data=data.drop(['WrittenOff','Rebuilt','Converted','CrossBorder','NumberOfVehiclesInFleet','MaritalStatus'],axis=1)
#data['Bank']=data['Bank'].fillna(data['Bank'].mode().iloc[0])
#data['AccountType']=data['AccountType'].fillna(data['AccountType'].mode().iloc[0])
#data['NewVehicle']=data['NewVehicle'].fillna(data['NewVehicle'].mode().iloc[0])
#data['VehicleType']=     data['NewVehicle'].fillna(data['NewVehicle'].mode().iloc[0])
#data['make']=                   data['NewVehicle'].fillna(data['NewVehicle'].mode().iloc[0])
#data['Model']=                 data['NewVehicle'].fillna(data['NewVehicle'].mode().iloc[0])
#data['bodytype']=      data['NewVehicle'].fillna(data['NewVehicle'].mode().iloc[0])
#data['VehicleIntroDate']=      data['NewVehicle'].fillna(data['NewVehicle'].mode().iloc[0])
#data['CapitalOutstanding']= data['NewVehicle'].fillna(data['NewVehicle'].mode().iloc[0])
#data[['AccountType','Bank']].info()
#data.isnull().sum()

In [ ]:
#data.to_csv('MachineLearningRating_v3_new.csv', index=False)

Plot the univariate data