In [40]:
import os
import pandas as pd
os.chdir('C:/Users/basleal/Desktop/tutorial/kaim-week-3/kaim-week-3')
print(os.getcwd())

C:\Users\basleal\Desktop\tutorial\kaim-week-3\kaim-week-3

In [57]:
data=pd.read_csv('C:/Users/basleal/Desktop/tutorial/kaim-week-3/kaim-week-3/data/raw/MachineLearningRating_v3.csv')
data.head()

C:\Users\basleal\AppData\Local\Temp\ipykernel_10104\769870920.py:1: DtypeWarning: Columns (33,38) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('C:/Users/basleal/Desktop/tutorial/kaim-week-3/kaim-week-3/data/raw/MachineLearningRating_v3.csv')

,Unnamed: 0,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [43]:
for column in data.columns:
    missing_count = data[column].isnull().sum()
    if missing_count>0:
        print(column, missing_count)

Bank 145961
AccountType 40232
MaritalStatus 8259
Gender 9536
mmcode 552
VehicleType 552
make 552
Model 552
Cylinders 552
cubiccapacity 552
kilowatts 552
bodytype 552
NumberOfDoors 552
VehicleIntroDate 552
CustomValueEstimate 779642
CapitalOutstanding 2
NewVehicle 153295
WrittenOff 641901
Rebuilt 641901
Converted 641901
CrossBorder 999400
NumberOfVehiclesInFleet 1000098

In [58]:
data.drop(columns=['Unnamed: 0','Bank','AccountType','CrossBorder', 'NumberOfVehiclesInFleet', 'WrittenOff', 'Rebuilt', 'Converted'],inplace=True)

In [59]:
map_cat={'Mr':'Male','Mrs':'Female','Miss':'Female','Ms':'Female','Dr':'Male'}
data['Gender']=data['Title'].map(map_cat)

In [65]:
vis_columns=[]
for column in data.columns:
    
    missing_count = data[column].isnull().sum()
    if missing_count>0:
        vis_columns.append(column)
        print(column, missing_count)
print(vis_columns)

mmcode 552
VehicleType 552
make 552
Model 552
Cylinders 552
cubiccapacity 552
kilowatts 552
bodytype 552
NumberOfDoors 552
VehicleIntroDate 552
CustomValueEstimate 779642
CapitalOutstanding 2
NewVehicle 153295
['mmcode', 'VehicleType', 'make', 'Model', 'Cylinders', 'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors', 'VehicleIntroDate', 'CustomValueEstimate', 'CapitalOutstanding', 'NewVehicle']

In [64]:
print(data['MaritalStatus'].value_counts())
map_mar={'Mrs':'married','Miss':'Single','Ms':'Single'}
data['MaritalStatus']=data['MaritalStatus'].fillna(data['MaritalStatus'].map(map_mar))
data['MaritalStatus'].isna().sum()

MaritalStatus
Not specified    994467
Single             4254
Married            1377
Name: count, dtype: int64

np.int64(0)

In [ ]:
categorical=[]
numerical=[]
for column in data.columns:
    if data[column].dtypes=='object':
        categorical.append(column)
    elif data[column].dtypes in ['int64','float64']:
        numerical.append(column)
print('categorical',categorical,'\n','numerical',numerical)

categorical ['TransactionMonth', 'Citizenship', 'LegalType', 'Title', 'Language', 'MaritalStatus', 'Gender', 'Country', 'Province', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'VehicleType', 'make', 'Model', 'bodytype', 'VehicleIntroDate', 'AlarmImmobiliser', 'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'TermFrequency', 'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass', 'StatutoryRiskType']
 numerical ['UnderwrittenCoverID', 'PolicyID', 'PostalCode', 'mmcode', 'RegistrationYear', 'Cylinders', 'cubiccapacity', 'kilowatts', 'NumberOfDoors', 'CustomValueEstimate', 'SumInsured', 'CalculatedPremiumPerTerm', 'TotalPremium', 'TotalClaims']

In [63]:

data['MaritalStatus']=data['MaritalStatus'].fillna(data['MaritalStatus'].mode()[0])
data['MaritalStatus'].isna().sum()

np.int64(0)

In [68]:
for column in data.columns:
    if column in categorical:
        data[column].fillna(data[column].mode()[0],inplace=True)
    elif column in numerical:
        data[column].fillna(data[column].mean(),inplace=True)
data.isnull().sum()

C:\Users\basleal\AppData\Local\Temp\ipykernel_10104\1033828717.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(data[column].mean(),inplace=True)
C:\Users\basleal\AppData\Local\Temp\ipykernel_10104\1033828717.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(data[column].mode()[0],inplace=True)

UnderwrittenCoverID         0
PolicyID                    0
TransactionMonth            0
IsVATRegistered             0
Citizenship                 0
LegalType                   0
Title                       0
Language                    0
MaritalStatus               0
Gender                      0
Country                     0
Province                    0
PostalCode                  0
MainCrestaZone              0
SubCrestaZone               0
ItemType                    0
mmcode                      0
VehicleType                 0
RegistrationYear            0
make                        0
Model                       0
Cylinders                   0
cubiccapacity               0
kilowatts                   0
bodytype                    0
NumberOfDoors               0
VehicleIntroDate            0
CustomValueEstimate         0
AlarmImmobiliser            0
TrackingDevice              0
CapitalOutstanding          0
NewVehicle                  0
SumInsured                  0
TermFrequency               0
CalculatedPremiumPerTerm    0
ExcessSelected              0
CoverCategory               0
CoverType                   0
CoverGroup                  0
Section                     0
Product                     0
StatutoryClass              0
StatutoryRiskType           0
TotalPremium                0
TotalClaims                 0
dtype: int64

In [69]:
data.to_csv('cleanedMachineLearningRating_v3.csv',index=False)