In [1]:
import os
import pandas as pd

In [2]:
# Load the autoreload extension
%load_ext autoreload

# Set autoreload to automatically reload all modules before execution
%autoreload 2
%reload_ext autoreload

In [5]:
print(os.getcwd())
os.chdir('c:/Users/hp/Desktop/tutorial/kaim-week-3')

c:\Users\hp\Desktop\tutorial\kaim-week-3

In [6]:
import pandas as pd
path_file = "c:/Users/hp/Desktop/tutorial/kaim-week-3/data/MachineLearningRating_v3.csv"  

data = pd.read_csv(path_file)
data.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_2516\809505502.py:4: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path_file)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [39]:
data.columns
print(data['TransactionMonth'].dtype)

object

In [27]:
print(os.getcwd())
from scripts.data_summary import col_data_summary, data_types
variability= col_data_summary(data)
variability.head(15)

c:\Users\hp\Desktop\tutorial\kaim-week-3

,Columns,data standard_deviation,data variance,data mean
0,UnderwrittenCoverID,6.329371e+04,4.006094e+09,1.048175e+05
1,PolicyID,5.290039e+03,2.798451e+07,7.956682e+03
2,PostalCode,2.649854e+03,7.021728e+06,3.020601e+03
3,mmcode,1.360381e+07,1.850635e+14,5.487770e+07
4,RegistrationYear,3.261391e+00,1.063667e+01,2.010225e+03
5,Cylinders,2.940201e-01,8.644783e-02,4.046642e+00
6,cubiccapacity,4.428006e+02,1.960724e+05,2.466743e+03
7,kilowatts,1.939326e+01,3.760984e+02,9.720792e+01
8,NumberOfDoors,4.683144e-01,2.193184e-01,4.019250e+00
9,CustomValueEstimate,5.645157e+05,3.186780e+11,2.255311e+05
10,NumberOfVehiclesInFleet,NaN,NaN,NaN
11,SumInsured,1.508332e+06,2.275065e+12,6.041727e+05
12,CalculatedPremiumPerTerm,3.997017e+02,1.597615e+05,1.178757e+02
13,TotalPremium,2.302845e+02,5.303096e+04,6.190550e+01
14,TotalClaims,2.384075e+03,5.683812e+06,6.486119e+01

In [53]:
from scripts.data_summary import data_types
data['TransactionMonth']=pd.to_datetime(data['TransactionMonth'])
categorical_var,numerical_var,date_var,bool_var=data_types(data)
print(f'categorical_var: {len(categorical_var)} columns ',categorical_var,f'\nnumerial_var: {len(numerical_var)} columns ',numerical_var
      ,f'\ndate_var: {len(date_var)} column',date_var,f'\nbool_var: {len(bool_var)} column',bool_var )

datetime64[ns]
categorical_var: 35 columns  ['Citizenship', 'LegalType', 'Title', 'Language', 'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'VehicleType', 'make', 'Model', 'bodytype', 'VehicleIntroDate', 'AlarmImmobiliser', 'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff', 'Rebuilt', 'Converted', 'CrossBorder', 'TermFrequency', 'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass', 'StatutoryRiskType']
numerial_var: 15 columns  ['UnderwrittenCoverID', 'PolicyID', 'PostalCode', 'mmcode', 'RegistrationYear', 'Cylinders', 'cubiccapacity', 'kilowatts', 'NumberOfDoors', 'CustomValueEstimate', 'NumberOfVehiclesInFleet', 'SumInsured', 'CalculatedPremiumPerTerm', 'TotalPremium', 'TotalClaims']
date_var: 1 column ['TransactionMonth']
bool_var: 1 column ['IsVATRegistered']

In [55]:
missing_values=data.isnull().sum()
missing_values

UnderwrittenCoverID               0
PolicyID                          0
TransactionMonth                  0
IsVATRegistered                   0
Citizenship                       0
LegalType                         0
Title                             0
Language                          0
Bank                         145961
AccountType                   40232
MaritalStatus                  8259
Gender                         9536
Country                           0
Province                          0
PostalCode                        0
MainCrestaZone                    0
SubCrestaZone                     0
ItemType                          0
mmcode                          552
VehicleType                     552
RegistrationYear                  0
make                            552
Model                           552
Cylinders                       552
cubiccapacity                   552
kilowatts                       552
bodytype                        552
NumberOfDoors                   552
VehicleIntroDate                552
CustomValueEstimate          779642
AlarmImmobiliser                  0
TrackingDevice                    0
CapitalOutstanding                2
NewVehicle                   153295
WrittenOff                   641901
Rebuilt                      641901
Converted                    641901
CrossBorder                  999400
NumberOfVehiclesInFleet     1000098
SumInsured                        0
TermFrequency                     0
CalculatedPremiumPerTerm          0
ExcessSelected                    0
CoverCategory                     0
CoverType                         0
CoverGroup                        0
Section                           0
Product                           0
StatutoryClass                    0
StatutoryRiskType                 0
TotalPremium                      0
TotalClaims                       0
dtype: int64