In [1]:
import os
import pandas as pd
# Load the autoreload extension
%load_ext autoreload

# Set autoreload to automatically reload all modules before execution
%autoreload 2
%reload_ext autoreload

In [2]:
os.chdir('C:/Users/basleal/Desktop/tutorial/kaim-week-3/kaim-week-3')

In [3]:
data=pd.read_csv('C:/Users/basleal/Desktop/tutorial/kaim-week-3/kaim-week-3/data/preprocessed/cleanedMachineLearningRating_v3.csv',parse_dates=['TransactionMonth'])
data.head()

C:\Users\basleal\AppData\Local\Temp\ipykernel_12748\514561645.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('C:/Users/basleal/Desktop/tutorial/kaim-week-3/kaim-week-3/data/preprocessed/cleanedMachineLearningRating_v3.csv',parse_dates=['TransactionMonth'])

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,MaritalStatus,Gender,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,Not specified,Male,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,Not specified,Male,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,Not specified,Male,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,Not specified,Male,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,Not specified,Male,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [6]:
data.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'MaritalStatus', 'Gender', 'Country', 'Province', 'PostalCode',
       'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode', 'VehicleType',
       'RegistrationYear', 'make', 'Model', 'Cylinders', 'cubiccapacity',
       'kilowatts', 'bodytype', 'NumberOfDoors', 'VehicleIntroDate',
       'CustomValueEstimate', 'AlarmImmobiliser', 'TrackingDevice',
       'CapitalOutstanding', 'NewVehicle', 'SumInsured', 'TermFrequency',
       'CalculatedPremiumPerTerm', 'ExcessSelected', 'CoverCategory',
       'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass',
       'StatutoryRiskType', 'TotalPremium', 'TotalClaims'],
      dtype='object')

In [10]:
from scripts.statistical_modeling import preprocess
numerical,categorical=preprocess(data)
data[categorical].columns

Index(['Citizenship', 'LegalType', 'Title', 'Language', 'MaritalStatus',
       'Gender', 'Country', 'Province', 'MainCrestaZone', 'SubCrestaZone',
       'ItemType', 'VehicleType', 'make', 'Model', 'bodytype',
       'VehicleIntroDate', 'AlarmImmobiliser', 'TrackingDevice',
       'CapitalOutstanding', 'NewVehicle', 'TermFrequency', 'ExcessSelected',
       'CoverCategory', 'CoverType', 'CoverGroup', 'Section', 'Product',
       'StatutoryClass', 'StatutoryRiskType'],
      dtype='object')

In [14]:
!pip install scikit-learn

Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/a1/a6/c5b78606743a1f28eae8f11973de6613a5ee87366796583fb74c67d54939/scikit_learn-1.6.1-cp311-cp311-win_amd64.whl.metadata
  Using cached scikit_learn-1.6.1-cp311-cp311-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\program files\python311\lib\site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in c:\program files\python311\lib\site-packages (from scikit-learn) (1.15.2)
Collecting joblib>=1.2.0 (from scikit-learn)
  Obtaining dependency information for joblib>=1.2.0 from https://files.pythonhosted.org/packages/91/29/df4b9b42f2be0b623cbd5e2140cafcaa2bef0759a00b7b70104dcfe2fb51/joblib-1.4.2-py3-none-any.whl.metadata
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Obtaining dependency information for threadpoolctl>=3.1.0 from https://files.pythonhosted.org/packages/4b/2c/ffbf7a134b9ab11a67b0cf0726453cedd9c5043a4fe7a35d1cefa9a1bcfb/threadpoolctl-3.5.0-py3-none-any.whl.metadata
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.6.1-cp311-cp311-win_amd64.whl (11.1 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 threadpoolctl-3.5.0

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
from sklearn.preprocessing import LabelEncoder
#initialize
Label_encoder=LabelEncoder()
#list of columns to encode
Label_columns=['MaritalStatus', 'NewVehicle', 'ExcessSelected','IsVATRegistered']
onehot_columns = ['Citizenship', 'LegalType', 'Title', 'Language', 'Gender', 'Country', 'Province', 
                  'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'VehicleType', 'make', 'Model', 
                  'bodytype', 'AlarmImmobiliser', 'TrackingDevice', 'TermFrequency', 'CoverCategory', 
                  'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass', 'StatutoryRiskType']

In [ ]:
#apply label encoding for ordinal columns
for column in Label_columns:
    data[column]=Label_encoder.fit_transform(data[column])
#apply One-Hot Encoding for nominal columns
data=pd.get_dummies(data,columns=onehot_columns,drop_first=True)
data.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,MaritalStatus,PostalCode,mmcode,RegistrationYear,Cylinders,cubiccapacity,...,CoverGroup_Standalone passenger liability,CoverGroup_Third Party Only,CoverGroup_Trailer,Section_Motor Comprehensive,Section_Optional Extended Covers,Section_Standalone passenger liability,"Section_Third party or third party, fire and theft only",Product_Mobility Commercial Cover: Monthly,Product_Mobility Metered Taxis: Monthly,Product_Standalone Passenger Liability
0,145249,12827,2015-03-01,1,1,1459,44069150.0,2004,6.0,2597.0,...,False,False,False,True,False,False,False,False,True,False
1,145249,12827,2015-05-01,1,1,1459,44069150.0,2004,6.0,2597.0,...,False,False,False,True,False,False,False,False,True,False
2,145249,12827,2015-07-01,1,1,1459,44069150.0,2004,6.0,2597.0,...,False,False,False,True,False,False,False,False,True,False
3,145255,12827,2015-05-01,1,1,1459,44069150.0,2004,6.0,2597.0,...,False,False,False,True,False,False,False,False,True,False
4,145255,12827,2015-07-01,1,1,1459,44069150.0,2004,6.0,2597.0,...,False,False,False,True,False,False,False,False,True,False

In [6]:
data.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'MaritalStatus', 'PostalCode', 'mmcode',
       'RegistrationYear', 'Cylinders', 'cubiccapacity',
       ...
       'CoverGroup_Standalone passenger liability',
       'CoverGroup_Third Party Only', 'CoverGroup_Trailer',
       'Section_Motor Comprehensive', 'Section_Optional Extended Covers',
       'Section_Standalone passenger liability',
       'Section_Third party or third party, fire and theft only',
       'Product_Mobility Commercial Cover: Monthly',
       'Product_Mobility Metered Taxis: Monthly',
       'Product_Standalone Passenger Liability'],
      dtype='object', length=643)

In [7]:
data.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,MaritalStatus,PostalCode,mmcode,RegistrationYear,Cylinders,cubiccapacity,...,CoverGroup_Standalone passenger liability,CoverGroup_Third Party Only,CoverGroup_Trailer,Section_Motor Comprehensive,Section_Optional Extended Covers,Section_Standalone passenger liability,"Section_Third party or third party, fire and theft only",Product_Mobility Commercial Cover: Monthly,Product_Mobility Metered Taxis: Monthly,Product_Standalone Passenger Liability
0,145249,12827,2015-03-01,True,1,1459,44069150.0,2004,6.0,2597.0,...,False,False,False,True,False,False,False,False,True,False
1,145249,12827,2015-05-01,True,1,1459,44069150.0,2004,6.0,2597.0,...,False,False,False,True,False,False,False,False,True,False
2,145249,12827,2015-07-01,True,1,1459,44069150.0,2004,6.0,2597.0,...,False,False,False,True,False,False,False,False,True,False
3,145255,12827,2015-05-01,True,1,1459,44069150.0,2004,6.0,2597.0,...,False,False,False,True,False,False,False,False,True,False
4,145255,12827,2015-07-01,True,1,1459,44069150.0,2004,6.0,2597.0,...,False,False,False,True,False,False,False,False,True,False

0           21.929825
1           21.929825
2            0.000000
3          512.848070
4            0.000000
              ...
1000093    347.235175
1000094    347.235175
1000095    347.235175
1000096      2.315000
1000097      2.315000
Name: TotalPremium, Length: 1000098, dtype: float64

In [8]:
data['IsVATRegistered'].nunique()

2

In [13]:
data[['Section_Motor Comprehensive', 'Section_Optional Extended Covers', 
      'Section_Standalone passenger liability', 'Section_Third party or third party, fire and theft only', 
      'Product_Mobility Commercial Cover: Monthly', 'Product_Mobility Metered Taxis: Monthly', 
      'Product_Standalone Passenger Liability']] = data[['Section_Motor Comprehensive', 
      'Section_Optional Extended Covers', 'Section_Standalone passenger liability', 
      'Section_Third party or third party, fire and theft only', 
      'Product_Mobility Commercial Cover: Monthly', 'Product_Mobility Metered Taxis: Monthly', 
      'Product_Standalone Passenger Liability']].astype(int)

In [15]:
data.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'MaritalStatus', 'PostalCode', 'mmcode',
       'RegistrationYear', 'Cylinders', 'cubiccapacity',
       ...
       'CoverGroup_Standalone passenger liability',
       'CoverGroup_Third Party Only', 'CoverGroup_Trailer',
       'Section_Motor Comprehensive', 'Section_Optional Extended Covers',
       'Section_Standalone passenger liability',
       'Section_Third party or third party, fire and theft only',
       'Product_Mobility Commercial Cover: Monthly',
       'Product_Mobility Metered Taxis: Monthly',
       'Product_Standalone Passenger Liability'],
      dtype='object', length=643)

In [24]:
data['TransactionYear'] = data['TransactionMonth'].dt.year
data['TransactionMonthNum'] = data['TransactionMonth'].dt.month
data['TransactionDay'] = data['TransactionMonth'].dt.day
data['TransactionWeekday'] = data['TransactionMonth'].dt.weekday  # 0 = Monday, 6 = Sunday
data['TransactionQuarter'] = data['TransactionMonth'].dt.quarter

In [42]:
data['DaysSinceFirstTransaction'] = (data['TransactionMonth'] - data['TransactionMonth'].min()).dt.days

KeyError: 'TransactionMonth'

In [32]:
data[['TransactionYear','TransactionMonthNum','TransactionDay','TransactionWeekday','TransactionQuarter']].head()

,TransactionYear,TransactionMonthNum,TransactionDay,TransactionWeekday,TransactionQuarter
0,2015,3,1,6,1
1,2015,5,1,4,2
2,2015,7,1,2,3
3,2015,5,1,4,2
4,2015,7,1,2,3

In [28]:
data.drop(columns=['TransactionMonth'], inplace=True)

In [54]:
print(data['CapitalOutstanding'].dtype)
data['CapitalOutstanding'] = data['CapitalOutstanding'].str.replace(',', '.').astype(float)

float64

AttributeError: Can only use .str accessor with string values!

In [55]:
X=data.drop(columns=['TotalClaims','VehicleIntroDate'])
y = data['TotalClaims']

In [56]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
base_model=RandomForestRegressor(n_estimators=100,random_state=42)
base_model.fit(x_train,y_train)

In [44]:
cat=[]
for column in data.columns:
    if data[column].dtype=='object':
        cat.append(column)
print(cat)
data[cat].head()

['VehicleIntroDate', 'CapitalOutstanding']

  VehicleIntroDate CapitalOutstanding
0           6/2002             119300
1           6/2002             119300
2           6/2002             119300
3           6/2002             119300
4           6/2002             119300

In [53]:
print(data['CapitalOutstanding'].dtype)
data['CapitalOutstanding'] = data['CapitalOutstanding'].str.replace(',', '.').astype(float)

object

In [ ]:
#model evaluation
y_p